<h2 class="page-header">Dashboard</h2>
<div class="container">
    <i class="glyphicon glyphicon-home">
        <a href="users/prop" /> Property
    </i>

</div>
{{!--
<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button> --}}